main{
    padding-top:3.5rem;
    display:grid;
    grid-template-columns:repeat(5,1fr);
    justify-items: center;
    grid-row: 5rem;
}
@media(max-width:935px){
    main{
        grid-template-columns:repeat(4,1fr);
    }
}
@media(max-width:735px){
    main{
        grid-template-columns:repeat(3,1fr);
    }
}
@media(max-width:535px){
    main{
        grid-template-columns:repeat(2,1fr);
    }
}
@media(max-width:335px){
    main{
        grid-template-columns:repeat(1,1fr);
    }
}

.navbar {
    padding-top: 50px;
    text-align: center;
}
  
.navbar h1 {
    padding-bottom: 20px;
    text-transform: capitalize;
}
.btn-group {
    border-radius: 1rem;
    text-transform: capitalize;
}
.btn-group__item {
    border: none;
    /* min-width: 6rem; */
    padding: 1.5rem 3rem;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    margin: 0;
    font-size: 17px;
    box-shadow: inset 0px 0px 0px -15px rebeccapurple;
    transition: all 300ms ease-out;
    text-transform: capitalize;
}