*{
  margin:0;
}
*,
*::after,
*::before{
  box-sizing: border-box;
}
body{
  background-color: #f8f8f8;
}
.container{
  max-height:1140px;
  margin:0 auto;
  width:90%;
}
body{
  font-family: 'Roboto Slab', serif;
}
button{
  font-family: 'Roboto Slab', serif;  
}